/* FONTS */

@font-face {
    font-family: soleto-light;
    src: url(../fonts/Soleto-Light.woff);
}

@font-face {
    font-family: soleto-medium;
    src: url(../fonts/Soleto-Medium.woff);
}

@font-face {
    font-family: soleto-regular;
    src: url(../fonts/Soleto-Regular.woff);
}

@font-face {
    font-family: soleto-xbold;
    src: url(../fonts/Soleto-XBold.woff);
}

/* STYLE */

*{
	-webkit-tap-highlight-color: transparent;
}

body{
	background: black;
	font-family: "Open Sans";
	overflow: hidden;
	display: none;
	background-size: 100vw 100vh;
}

a{
	color: inherit;
	text-decoration: none;
}

.wrapper{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.parallax-container{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: -1;
}

.parallax-container-inner{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	-webkit-box-pack: center;

}

.parallax-layer{
    min-height: 553px;
    min-width: 965px;
    background-repeat: no-repeat;
}



.parallax-container__layer1 {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	min-height: 553px;
	z-index: 3;
	min-width: 965px;
}
.parallax-container__layer2 {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	min-height: 289px;
	z-index: 5;
	min-width: 690px;
	left: 136px;
	top: 131px;
}
.parallax-container__layer3 {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	min-height: 230px;
	z-index: 12;
	min-width: 576px;
	top: 160px;
	left: 194px;

}

.mainLogo{
	position: absolute;
	top: 2.5%;
	left: 50%;
	transform: translateX(-50%);
	width: 50vw;
	user-select: none;
	animation: loadTop 0.2s ease-out;
	filter: brightness(2000%);
}


/*MAIN TAB SYSTEM*/

.boxContainer{
	width: 70vw;
	height: 82.5vh;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.35);
	animation: loadBottom 0.2s ease-out;
}


.megaBox{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 50vh;
	width: 50vh;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 7px;
	transition: all .2s ease-in-out;
	background-image: linear-gradient(-90deg, #0DE1EC 0%, #200C9C 30%, #4A0082  70%, #DD0890 100%);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.33);
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-size: 300% 100%;
}

.megaBox:hover{
	background-position: right;
}

.neutral{
	cursor: pointer;
	padding-top: 10%;
}

.tab_students{
	left: 5vw;
}

.tab_staff{
	left: 35vw;
}

.stowed{
	z-index: 100;
	border-radius: 0 0 1vh 1vh;
	top: 2.5vh;
	left: 60vw;
	height: 7.5vh;
	width: 15vh;
	cursor: pointer;
	background-image: linear-gradient(-90deg, #0DE1EC 0%, #200C9C 30%, #4A0082  70%, #DD0890 100%);
}

.stowed:hover{
	background-position: right;
	top: 3.5vh;
}

.maximized{
	width: 100%;
	height: 100%;
	left: 0;
	border-radius: 0;
	cursor: default;
	background: rgba(246, 246, 246, 0.5);
}

.boxHeader{
	text-align: center;
	user-select: none;
	font-size: 1.5rem;
	color: white;
	transition: all 0.2s ease-in-out; 
	font-family: "soleto-light", sans-serif;
}

.bigBoxHeaderText{
	color: white;
	font-size: 5rem;
	font-family: "soleto-light", sans-serif;
}

.links{
	display: none;
	position: absolute;
	bottom: 20%;
	left: 0;
	height: 50%;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.flex-break{
	width: 100%;
}


.box{
	color: white;
	background-image: linear-gradient(-90deg, #0DE1EC 0%, #200C9C 30%, #4A0082  70%, #DD0890 100%);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.33);
	border-radius: 7px;
	font-size: 19px;
	color: #ffffff;
	letter-spacing: 0.63px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 21px 54px;
	display: inline-block;
	min-width: 200px;
	position: relative;
	overflow: hidden;
	background-size: 300% 100%;
	transition: all .2s ease-in-out;
	font-family: "soleto-xbold", sans-serif;
}

.box:hover{
	background-position: right;
	transform: scale(1.05);
}

.box:active{
	transform: scale(1.05) translateY(2px);
}

.showLinks{
	display: flex;
}


/*NEWS TAB*/

.newsTab{
	height: 82.5vh;
	width: 30vw;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(255,255,255,0.5);
	animation: loadBottom 0.2s ease-out;
}

.newsHeader{
	text-align: center;
	user-select: none;
	font-family: "soleto-light", sans-serif;
}

.newsContainer{
	height: 87.5%;
	position: absolute;
	right: 5%;
	width: 90%;
	bottom: 1vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.newsPost{
	background: #fff;
	padding: 1vh 1vw 0 1vw;
	margin: 0 1vh 5vh 1vh;
	box-shadow: 0 15px 25px 0 rgba(0,0,0,.15);
	overflow: hidden;
}

.newsPost h3{
	color: rgba(29, 29, 27, 1);
	font-family: "soleto-regular", sans-serif;
}

.newsPost p{
	color: rgba(29, 29, 27, 0.85);
	font-family: "soleto-light", sans-serif;
}

.newsLine{
	width: calc(100% + 2vw);
	transform: translateX(-1vw);
	height: 5px;
	background-image: -webkit-gradient(linear,right top,left top,from(#0de1ec),color-stop(30%,#200c9c),color-stop(70%,#4a0082),to(#dd0890));
	background-image: -webkit-linear-gradient(right,#0de1ec 0,#200c9c 30%,#4a0082 70%,#dd0890 100%);
	background-image: -o-linear-gradient(right,#0de1ec 0,#200c9c 30%,#4a0082 70%,#dd0890 100%);
	background-image: linear-gradient(-90deg,#0de1ec 0,#200c9c 30%,#4a0082 70%,#dd0890 100%);
	margin: 3vh 0 0 0;
}

/* FOOTER COOKIE POLICY */

footer{
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: white;
	padding: 2vh 1vw 0 1vw;
	animation: loadBottom 0.2s ease-out;
	font-family: "soleto-light", sans-serif;
}

footer a{
	color: blue;
	text-decoration: underline;
	font-family: "soleto-regular", sans-serif;
}

.cookieClose{
	user-select: none;
	cursor: pointer;
	font-family: "soleto-xbold", sans-serif;
}


@media only screen and (max-width: 1650px) {
    .megaBox {
        width: 30vh;
        height: 30vh;
    }

    .boxHeader{
    	font-size: 1.5rem;
    }

    .bigBoxHeaderText{
    	font-size: 4rem;
    }

    .newsHeader{
    	font-size: 1.75em;
    }

    .maximized{
    	height: 100%;
    	width: 100%;
    }
    
    .box{
		font-size: 2rem;
    }

    .stowed{
    	font-size: 1.75em;
    	height: 7vh;
    	width: 15vh;
    	left: 55vw;
    }

    .flexBreak{
    	display: none;
    }

    footer{
    	left: 10%;
    	width: 50%;
    	transform: translate(0,0);
    }
}

@media (orientation: portrait){

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}


	body{
		height: 150vh;
		overflow: scroll;
		background-size: auto 100%;
	}

	.mainLogo{
		width: 65vw;
	}

	.boxContainer{
		width: 100vw;
		height: 65vh;
		top: 10vh;
	}

	.bigBoxHeaderText{
		font-size: 6vw;		
	}

	.flex-break{
		display: none;
	}

	.box{
		font-size: 5vw;
		padding: 1vh 2vw;
	}

	.megaBox{
		height: 45vw;
		width: 45vw;
		transition: all 0s ease-in-out; 
	}

	.tab_students{
		left: 3.5vw;
	}

	.tab_staff{
		left: auto;
		right: 3.5vw;
	}

	.stowed{
		border-radius: 0 0 1vh 1vh;
		top: 3.5vh;
		left: auto;
		right: 5vw;
		height: 7.5vh;
		width: 15vh;
	}

	.boxHeader{
		font-size: 5vw;
	}

	.maximized{
		width: 100%;
		height: 100%;
		left: 0;
		border-radius: 0;
		cursor: default;
	}

	.newsTab{
		height: 75vh;
		top: 75vh;
		width: 100vw;
		bottom: auto;
	}

	.newsHeader{
		font-size: 5.5vw;
	}

	.newsPost{
		padding: 0.5vh 3.5vw;
		font-size: 4vw;
	}


	footer{
		background: rgba(255,255,255,1);
		padding: 0.75vh 3vw;
		font-size: 3.5vw;
		width: 80vw;
	}

}


/*LOADING ANIMATION KEYFRAMES*/

@keyframes loadBottom{
	from{opacity: 0.75; bottom: -10vw;}
	to{opacity: 1; bottom: 0;}
}

@keyframes loadTop{
	from{opacity: 0.75; top: -10vw;}
	to{opacity: 1; top: 2.5%;}
}


/*SCROLL BAR*/
/* width */
::-webkit-scrollbar {
    width: 1vh;
	/*border-radius: 1vh;*/
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(29,29,27,0.5);
	/*border-radius: 1vh;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,1);
	/*border-radius: 1vh;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(255,255,255,0.75);
	/*border-radius: 1vh;*/
}

/* TEXT SELECTION*/

::selection {
  background: rgba(29, 29, 27, 0.5);; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(29, 29, 27, 0.5);; /* Gecko Browsers */
}

/*

color codes

#dd0890
#460082
#0de1ec
#200c9c
#f0f0f0
#222222

*/
